<section id="Testimonials" class="py-12 md:py-32">
    <div class="container mx-auto px-4">
        <div class="grid gap-20 lg:grid-cols-2 lg:gap-32">
            <div class="text-center lg:text-left">
                <h1 class="mb-4 text-balance text-3xl font-bold lg:text-4xl">
                    Algunos de nuestros clientes
                </h1><p class="mb-8 text-muted-foreground">
                    Atendemos negocios, comunidades residenciales, centros
                    comerciales y domicilios particulares. Algunos de nuestros
                    clientes incluyen:
                </p>
                <a
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-zinc-950 text-zinc-50 hover:bg-zinc-950/90 h-10 px-4 py-2 mb-10 lg:mb-20"
                    href="https://api.whatsapp.com/send?phone=56959845747&text=Hola!%20Quiero%20contactarme%20con%20un%20asesor"
                    >Contactanos ahora</a
                ><p class="mb-7 text-xs uppercase text-muted-foreground">
                    Utilizado por empresas líderes.
                </p><div
                    class="flex flex-wrap items-center justify-center gap-10 lg:justify-start"
                >
                    <img
                        src="/empresas/1.avif"
                        alt="logo"
                        class="h-10 sm:h-12"
                    />
                    <img
                        src="/empresas/2.avif"
                        alt="logo"
                        class="h-10 sm:h-12"
                    />
                    <img src="/empresas/3.avif" alt="logo" class="h-6 sm:h-8" />
                    <img src="/empresas/5.avif" alt="logo" class="h-6 sm:h-8" />
                    <img
                        src="/empresas/6.avif"
                        alt="logo"
                        class="h-10 sm:h-12"
                    />
                    <img
                        src="/empresas/7.avif"
                        alt="logo"
                        class="h-12 sm:h-16"
                    />
                    <img
                        src="/empresas/8.avif"
                        alt="logo"
                        class="h-10 sm:h-16"
                    />
                </div>
            </div><div class="flex flex-col gap-5">
                <div class="flex gap-5 rounded-xl bg-background p-6">
                    <span
                        class="relative flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                        ><img
                            class="aspect-square h-full w-full"
                            alt="placeholder"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        /></span
                    ><div>
                        <p class="mb-1 text-sm font-medium">Emily Johnson</p><p
                            class="text-xs text-muted-foreground"
                        >
                            Joining the Innovators Community has completely
                            transformed my approach to product development. The
                            discussions are insightful, and the community events
                            have been fantastic for networking with industry
                            peers.
                        </p>
                    </div>
                </div><div class="flex gap-5 rounded-xl border p-6">
                    <span
                        class="relative flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                        ><img
                            class="aspect-square h-full w-full"
                            alt="placeholder"
                            src="https://shadcnblocks.com/images/block/avatar-2.webp"
                        /></span
                    ><div>
                        <p class="mb-1 text-sm font-medium">Alex Smith</p><p
                            class="text-xs text-muted-foreground"
                        >
                            Being part of this community has helped me stay
                            up-to-date with the latest trends in innovation. The
                            exclusive workshops are incredibly valuable for
                            anyone looking to expand their knowledge.
                        </p>
                    </div>
                </div><div class="flex gap-5 rounded-xl bg-background p-6">
                    <span
                        class="relative flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                        ><img
                            class="aspect-square h-full w-full"
                            alt="placeholder"
                            src="https://shadcnblocks.com/images/block/avatar-3.webp"
                        /></span
                    ><div>
                        <p class="mb-1 text-sm font-medium">Sarah Parker</p><p
                            class="text-xs text-muted-foreground"
                        >
                            The Innovators Community has been instrumental in
                            connecting me with like-minded professionals. I’ve
                            gained valuable insights and developed partnerships
                            that have benefited my career.
                        </p>
                    </div>
                </div><div class="flex gap-5 rounded-xl border p-6">
                    <span
                        class="relative flex shrink-0 overflow-hidden size-9 rounded-full ring-1 ring-input"
                        ><img
                            class="aspect-square h-full w-full"
                            alt="placeholder"
                            src="https://shadcnblocks.com/images/block/avatar-4.webp"
                        /></span
                    ><div>
                        <p class="mb-1 text-sm font-medium">Michael Lee</p><p
                            class="text-xs text-muted-foreground"
                        >
                            I’ve attended several virtual events through the
                            Innovators Community, and they’ve been incredibly
                            helpful. The opportunity to learn from leaders in
                            the field has significantly impacted my professional
                            growth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
