<section
    class="py-32 mt-36 bg-[url(/gallery/gallery1.avif)] bg-fixed bg-center bg-cover bg-no-repeat"
>
    <div class="container mx-auto px-4">
        <div
            class="flex w-full flex-col gap-16 overflow-hidden rounded-lg shadow-md bg-zinc-50/10 backdrop-blur-sm p-8 md:rounded-xl lg:flex-row lg:items-center lg:p-16"
        >
            <div class="flex-1">
                <h3
                    class="mb-3 text-white text-2xl font-semibold md:mb-4 md:text-4xl lg:mb-6"
                >
                    Call to Action
                </h3>
                <p class="text-white lg:text-lg">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Elig doloremque mollitia fugiat omnis!
                </p>
            </div>
            <div class="flex shrink-0 flex-col gap-2 sm:flex-row">
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                >
                    Learn More
                </button>
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
                >
                    Get Started
                </button>
            </div>
        </div>
    </div>
</section>
