<section
    class="py-32 bg-[url(/gallery/gallery4.avif)] bg-fixed bg-center bg-cover bg-no-repeat"
>
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div
            class="mx-auto max-w-screen-sm text-center rounded-lg shadow-md bg-zinc-50/10 backdrop-blur-sm p-8"
        >
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white"
            >
                Eliminación de malos olores en sistemas de drenaje
            </h2>
            <p class="mb-6 font-light text-white md:text-lg">
                Eliminamos malos olores en desagües y sistemas de alcantarillado
                con técnicas especializadas. Garantizamos ambientes más
                saludables y cómodos para hogares y negocios.
            </p>
        </div>
    </div>
</section>
