<section id="Service" class="py-16 mt-10 md:py-24 md:mt-0">
    <div class="container mx-auto">
        <div class="relative grid items-center gap-8 lg:grid-cols-2 lg:gap-16">
            <picture
                class="absolute z-0 -top-96 row-start-2 lg:col-start-1 lg:row-start-1 md:relative md:top-0"
            >
                <source
                    srcset="/service.jpeg"
                    type="image/avif"
                    media="(width >= 800px)"
                />
                <source
                    srcset="/service-small.avif"
                    type="image/avif"
                    media="(width <= 800px)"
                />
                <img
                    class="w-full object-cover [-webkit-mask-image:linear-gradient(to_top,black,transparent_100%)] [mask-image:linear-gradient(to_top,black,transparent_100%)] object-top opacity-60 rounded-lg md:[-webkit-mask-image:linear-gradient(to_top,black,transparent_1000%)] md:[mask-image:linear-gradient(to_top,black,transparent_1000%)] md:opacity-100"
                    src="/service.jpeg"
                    alt="Imagen de inicio"
                />
            </picture>
            <div
                class="relative z-10 flex flex-col px-4 lg:text-left row-start-1 lg:col-start-2"
            >
                <h2
                    class="mb-6 text-pretty text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-red-600 lg:text-4xl"
                >
                    ¿Qué Ofrecemos?
                </h2>
                <p class="mb-8 max-w-xl text-zinc-950 lg:max-w-none lg:text-lg">
                    En <span class="text-red-600">Destapes</span> ofrecemos un servicio
                    de calidad y profesional en la limpieza y mantenimiento de tuberías
                    y alcantarillado. Contamos con personal altamente capacitado
                    y con la mejor tecnología para brindarte un servicio de calidad
                    y a precios competitivos.
                </p>
                <ul class="ml-4 space-y-4 text-left">
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg><p class="text-zinc-950 font-semibold lg:text-lg">
                            Destapes urgentes de alcantarillado 24/7.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-zinc-950 font-semibold lg:text-lg">
                            Mantenimiento preventivo y correctivo.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-zinc-950 font-semibold lg:text-lg">
                            Video inspección de tuberías
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-zinc-950 font-semibold lg:text-lg">
                            Eliminación de malos olores en sistemas de drenaje.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-zinc-950 font-semibold lg:text-lg">
                            Servicio profesional y precios competitivos.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
