<section id="Service" class="py-32">
    <div class="container mx-auto px-4">
        <div class="grid items-center gap-8 lg:grid-cols-2 lg:gap-16">
            <img
                src="/service.jpeg"
                alt="placeholder hero"
                class="max-h-96 w-full rounded-md object-cover"
            />
            <div class="flex flex-col lg:text-left">
                <h2
                    class="mb-6 text-pretty text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-red-600 lg:text-4xl"
                >
                    ¿Qué Ofrecemos?
                </h2>
                <p
                    class="mb-8 max-w-xl text-muted-foreground lg:max-w-none lg:text-lg"
                >
                    En <span class="text-red-600">Desatascos</span> ofrecemos un
                    servicio de calidad y profesional en la limpieza y mantenimiento
                    de tuberías y alcantarillado. Contamos con personal altamente
                    capacitado y con la mejor tecnología para brindarte un servicio
                    de calidad y a precios competitivos.
                </p>
                <ul class="ml-4 space-y-4 text-left">
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg><p class="text-muted-foreground lg:text-lg">
                            Destapes urgentes de alcantarillado 24/7.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-muted-foreground lg:text-lg">
                            Mantenimiento preventivo y correctivo.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-muted-foreground lg:text-lg">
                            Video inspección de tuberías
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-muted-foreground lg:text-lg">
                            Eliminación de malos olores en sistemas de drenaje.
                        </p>
                    </li>
                    <li class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-circle-check-big size-6 stroke-red-600"
                            ><path d="M21.801 10A10 10 0 1 1 17 3.335"
                            ></path><path d="m9 11 3 3L22 4"></path></svg
                        ><p class="text-muted-foreground lg:text-lg">
                            Servicio profesional y precios competitivos.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
