---

---

<header class="fixed w-full bg-white z-50">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
                <a class="block text-zinc-600" href="#">
                    <span class="sr-only">Home</span>
                    <img src="/LOGO.png" alt="Logo" class="size-14" />
                </a>
            </div>

            <div class="hidden md:block">
                <nav aria-label="Global">
                    <ul class="flex items-center gap-6 text-sm">
                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#hero"
                            >
                                Home
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Service"
                            >
                                Servicios
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#WhyUs"
                            >
                                Porque elegirnos
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Testimonials"
                            >
                                Testimonios
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Reserva"
                            >
                                Contáctenos
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                    <a
                        class="rounded-md bg-zinc-900 px-5 py-2.5 text-sm font-medium text-white shadow"
                        href="#Reserva"
                    >
                        Hable con nosotros
                    </a>
                </div>

                <div class="block md:hidden">
                    <button
                        class="rounded bg-zinc-100 p-2 text-zinc-600 transition hover:text-zinc-600/75"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    header {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    header {
        @apply bg-zinc-50/60;
    }

    @keyframes nav-shadown {
        0% {
            @apply bg-zinc-800/0;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }
</style>
